TZ=
FRONTEND_URL=
NODE_ENV=

AUTH_SERVICE_HOST=localhost
AUTH_SERVICE_PORT=2671
AUTH_SERVICE_URL=http://localhost:2671
USER_SERVICE_HOST=localhost
USER_SERVICE_PORT=2672
USER_SERVICE_URL=http://localhost:2672
