USER_SERVICE_PORT=2672
USER_SERVICE_APP_NAME='User Service'

# DB
USER_SERVICE_DB_HOST=
USER_SERVICE_DB_PORT=
USER_SERVICE_DB_DATABASE=
USER_SERVICE_DB_USER=
USER_SERVICE_DB_PASSWORD=
USER_SERVICE_DB_SCHEMA=